In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer    
from nltk.tokenize import RegexpTokenizer
import numpy as np
from sklearn import preprocessing
from scipy.sparse import hstack

In [12]:
costerecauda = pd.read_csv('coste_recaudacion.csv')
costerecauda

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000,652000000,2010
1,Alice in Wonderland (2010),BV,334200000,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000,664300000,2010
3,Inception,WB,292600000,535700000,2010
4,Shrek Forever After,P/DW,238700000,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn,6200,0,2018
3383,Edward II (2018 re-release),FM,4800,0,2018
3384,El Pacto,Sony,2500,0,2018
3385,The Swan,Synergetic,2400,0,2018
3386,An Actor Prepares,Grav,1700,0,2018

In [13]:
costerecauda.describe()

       domestic_gross         year
count    3.387000e+03  3387.000000
mean     2.853428e+07  2013.958075
std      6.678533e+07     2.478141
min      0.000000e+00  2010.000000
25%      1.115000e+05  2012.000000
50%      1.300000e+06  2014.000000
75%      2.750000e+07  2016.000000
max      9.367000e+08  2018.000000

In [14]:
peliplataforma = pd.read_csv('pelicula_plataforma.csv', sep= ";")
peliplataforma

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13,8.8,87Â %,1,0,0,0,0,Christopher Nolan,Action;Adventure;Sci-Fi;Thriller,United States;United Kingdom,English;Japanese;French,148.0
1,2,The Matrix,1999,18,8.7,87Â %,1,0,0,0,0,Lana Wachowski;Lilly Wachowski,Action;Sci-Fi,United States,English,136.0
2,3,Avengers: Infinity War,2018,13,8.5,84Â %,1,0,0,0,0,Anthony Russo;Joe Russo,Action;Adventure;Sci-Fi,United States,English,149.0
3,4,Back to the Future,1985,7,8.5,96Â %,1,0,0,0,0,Robert Zemeckis,Adventure;Comedy;Sci-Fi,United States,English,116.0
4,5,The Good; the Bad and the Ugly,1966,18,8.8,97Â %,1,0,1,0,0,Sergio Leone,Western,Italy;Spain;West Germany,Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,Comedy;Family;Fantasy;Horror,United States,English,120.0
16740,16741,The Poof Point,2001,7,4.7,NaN,0,0,0,1,0,Neal Israel,Comedy;Family;Sci-Fi,United States,English,90.0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,Documentary;Short;Family,United States,English,32.0

In [15]:
#Promedio valoracion Peliculas
nombre_archivo = 'pelicula_plataforma.csv'
with open(nombre_archivo, "r") as archivo:
    lector = csv.reader(archivo, delimiter=",")
    next(lector, None)
    sum_IMDb = 0
    sum_rotten = 0
    contador = 0
    for fila in lector:
        nombre = fila[0]
        calificacion = int(fila[1])
        precio = float(fila[2])
        suma_IMDb = IMDb
        suma_rotten = Rotten Tomatoes
        contador += 1
    print(
        f"Promedio de valoracion en IMDb es {promedio_IMDb} y promedio Rotten Tomatoes es {promedio_rotten}")

#problema no definido en Rotten Â¿? Tratando de crear codigo diga valoraciÃ³n general

SyntaxError: invalid syntax (<ipython-input-15-b1f42c1f6cea>, line 14)

In [16]:
#Valoracion Peliculas
Pelicula = 'pelicula_plataforma.csv'
with open(Pelicula, "r") as archivo:
    lector = csv.reader(archivo, delimiter=",")
    next(lector, None)
    for fila in lector:
        nombre = Title[2]
        IMDb = int(fila[5])
        ClasificaciÃ³n = float(fila[7])
        print(
            f"Peliculas: '{nombre}' con calificaciÃ³n {ClasificaciÃ³n} y valoracion en IMDb {IMDb}")
        
#problema con la importaciÃ³n Â¿? Tratando de crear codigo que al buscar una pelicula diga la valoraciÃ³n

NameError: name 'csv' is not defined